﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/desktopmodules/mvc/CalenderModule/Scripts/dhtmlxScheduler/dhtmlxscheduler.css" rel="stylesheet" />
    <script src="~/desktopmodules/mvc/CalenderModule/Scripts/dhtmlxScheduler/dhtmlxscheduler.js" type="text/javascript"></script>
    <script src="~/desktopmodules/mvc/CalenderModule/Scripts/dhtmlxScheduler/locale_recurring_es.js"></script>
    <title>DHXScheduler initialization sample</title>
    <link href="~/DesktopModules/MVC/CalenderModule/StyleSheet/main.css" rel="stylesheet" />
    <script src="~/desktopmodules/mvc/CalenderModule/Scripts/main.js"></script>
</head>
<body onload="init();">
    <div style="height:700px;width:900px;margin:0 auto">
        @*@Html.Raw(Model.Render())*@
        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button"> </div>
                <div class="dhx_cal_next_button"> </div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab" style="removed:204px;"></div>
                <div class="dhx_cal_tab" name="week_tab" style="removed:140px;"></div>
                <div class="dhx_cal_tab" name="month_tab" style="removed:76px;"></div>
            </div>
            <div class="dhx_cal_header">
            </div>
            <div class="dhx_cal_data">
            </div>
        </div>
    </div>
</body>
</html>
