﻿body {
    background-color: #eee;
}

.dhx_cal_event_clear {
    height: 20px;
}

/*Dia Laborable*/
/*event in day or week view*/
.dhx_cal_event.Laborable_event div {
    background-color: cadetblue;
    color: white !important;
}

/*Medio Dia Laborable*/
/*event in day or week view*/
.dhx_cal_event.MedioDiaLaborable_event div {
    background-color: orange;
    color: white !important;
}

/*Dia No Laborable*/
.dhx_cal_event.NoLaborable_event div {
    background-color: #cc4854;
    color: white !important;
}

/*Evento*/
.dhx_cal_event.Evento_event div {
    background-color: #6a85e8;
    color: white !important;
}


/*Dia Laborable*/
/*multi-day event in month view*/
.dhx_cal_event_line.Laborable_event {
    background-color: cadetblue;
    color: white !important;
}

/*Medio Dia Laborable*/
/*multi-day event in month view*/
.dhx_cal_event_line.MedioDiaLaborable_event {
    background-color: orange;
    color: white !important;
}

/*Dia No Laborable*/
.dhx_cal_event_line.NoLaborable_event {
    background-color: #cc4854;
    color: white !important;
}

/*Evento*/
.dhx_cal_event_line.Evento_event {
    background-color: #6a85e8;
    color: white !important;
}





/*Dia Laborable*/
/*event with fixed time, in month view*/
.dhx_cal_event_clear.Laborable_event {
    color: white !important;
    background-color: cadetblue;
}

/*Medio Dia Laborable*/
/*event with fixed time, in month view*/
.dhx_cal_event_clear.MedioDiaLaborable_event {
    color: white !important;
    background-color: orange;
}

/*Dia No Laborable*/
.dhx_cal_event_clear.NoLaborable_event {
    color: white !important;
    background-color: #cc4854;
}


/*Evento*/
.dhx_cal_event_clear.Evento_event {
    color: white !important;
    background-color: #6a85e8;
}